{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Work_Management_System</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>

<body>
	{% include 'partials/__navbar.html' %}

	{% block content %}



	{% endblock %}

	<!-- Script -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script>
		function deleteItem(slug) {
			swal({
				title: slug,
				text: "Are you sure you want to delete items",
				icon: "warning",
				buttons: true,
				dangerMode: true,

			}).then((willDelete) => {
				console.log(willDelete)
				if (willDelete) {
					console.log("{{csrf_token}}")
					$.ajax({
						url: "delete-work/" + slug + "/",
						method: 'post',
						beforeSend: function (xhr) {
							xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
							xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
						},
						success: () => {
							swal(
								{
									title: "success",
									text: "Item Deleted successfully",
									icon: "success"
								}
							).then((value) => {
								location.reload();
							})

						},
						error: () => {
							swal(
								{
									title: "Error",
									text: "Error deleting Item",
									icon: "error"
								}
							)
						}

					})
				}

			})
		}
	</script>
</body>

</html>