{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Work_Management_System</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>

<body>
	{% include 'partials/__navbar.html' %}

	{% block content %}



	{% endblock %}

	<!-- Script -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script>
		function deleteItem(slug) {
			swal({
				title: slug,
				text: "Are you sure you want to delete items",
				icon: "warning",
				button: true,

			}).then((willDelete) => {
				if (willDelete) {
					$.ajax({
						url: "",
						method: '',
						contentType: "",
						cache: false,
						processData: false,
						success: () => {},
						error: () => {}

					})
				}

			})
		}
	</script>
</body>

</html>