{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="message">
		{% if messages %}
		{% for message in messages %}
		{{ message }}
		{% endfor %}
		{% endif %}
	</div>
	<div class="row">
		<h2> Work Details <span class="add"><a class="action-btn-success" href="{% url 'SurfaceApp:AddWork' %}"><i
						style="color: #fff;" class="fas fa-plus"></i></a></span></h2>
	</div>
	<table>
		<thead>
			<tr>
				<th>S.N.</th>
				<th>Project Name</th>
				<th>Type</th>
				<th>Duration(Days)</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for item in work %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'SurfaceApp:DetailWorkView' item.id %}">{{item.project}}</a></td>
				<td>{{item.project_type}}</td>
				<td>{{item.duration}}</td>
				<td>
					{% if item.is_complete %}
					<a href="#"><i class="fas fa-check-circle" style="color:green"></i></a>
					{% else %}
					<a href="#"><i class="fas fa-times-circle" style="color:red"></i></a>
					{% endif %}
				</td>
				<td>
					<a href="{% url 'SurfaceApp:UpdateWork' item.slug %}"><i title="edit"
							class="far fa-edit"></i></a>&nbsp;&nbsp;
					<button onclick="deleteItem('{{item.slug}}')"><i title="delete" class="fas fa-trash-alt"
							style="color:red"></i></button>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

<!--
						href="{% url 'SurfaceApp:DeleteWork' item.slug %}" -->